snippet endl "standard endline command"
std::endl
endsnippet

snippet cin "standard cin command"
std::cin >> 
endsnippet

snippet cout "standard cout command"
std::cout << 
endsnippet

snippet #inc "the include command for headers"
#include <$1>
endsnippet
