snippet * "Reset or global level"
*{
	$1
}
endsnippet

snippet b "Generate a code block "
$1{
	$2
}
endsnippet

snippet m "Create code block for media query" b
@media($1){
	$2
}
endsnippet
 
snippet r "Root Scope"
:root {
	$1
}
endsnippet
