snippet * "Reset or global level"
*{
	$1
}
endsnippet

snippet c "Create code block for class" b
.$1{
	$2
}
endsnippet

snippet g "Create code block for global" b
$1{
	$2
}
endsnippet

snippet gen "Generate a code block "
$1{
	$2
}
endsnippet

snippet i "Create code block for id" b
#$1{
	$2
}
endsnippet

snippet m "Create code block for media query" b
@media($1){
	$2
}
endsnippet
 
snippet r "Root Scope"
:root {
	$1
}
endsnippet
