snippet callb "callback function" i
function ($1) {
  $2
}
endsnippet

snippet clog "console log"
console.log($1);
endsnippet

snippet func "Javascript function"
function $1($2){
  $3
}
endsnippet

snippet if "if condition"
if ($1) {
  $2
}
endsnippet

snippet ife "if else condition"
if ($1) {
  $2
}
else{
  $3
}
endsnippet

snippet req "expands to code for requiring packages" b
const $1 = require("$2");
endsnippet
